* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.2em;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.btn{
    color: #363636;
    border-color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 14px 28px;
    background-color: #ffffff;
    cursor: pointer;
}
.btn2{
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 14px 28px;
    background-color: #e89f91;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}

.line{
    height: 1px;
    background-color: #d9d9d9;
    margin:80px 0;
}
.line2{
    height: 1px;
    background-color: #d9d9d9;
    /* margin:80px 0; */
    width:350px;
}

